div{
    margin: 1px;
    overflow: scroll;
    padding: 10px;
}

.box{
    width: 100px;
    height: 100px;
    border: 1px solid rebeccapurple;
    background-color: rgb(232, 5, 253);
    transition: width 5s ease-in 0s, height 5s ease-in 0s;
    overflow: scroll;
}
.box:hover{
    width: 60%;
    height: 319px;
    background-color: darkred;
    color: white;
}
.name{
    color: orangered;
    font-size: 30px;
}